body{
    background-color: azure;
}
div{
    text-align: center;
    background-color: aquamarine;
    width: 20%;
    height: 30%;
    padding: 10px 30px 30px 30px;
    border: 3px solid;
    border-radius:15% 15% 15% 15%;
    position: absolute;
    left: 40%;
    top: 5%;
}
